html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #555555;
}

a {
    color: #7cc576;
}

a:hover {
    color: #9ed49a;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.block {
    width: 100%;
}

.textCenter {
    text-align: center;
}


/* colors */

.btn-green {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #7cc576;
}

.btn-green:hover {
    background: #fff;
    color: #7cc576;
}


/* main */

#mainSection {
    height: 100%;
    background: url("../img/hero-bg.png");
}

#mainSection h1 {
    margin: 0 0 30px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #fff;
}

#mainWrapper .btn {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#mainWrapper a {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#mainWrapper a:last-child {
    margin-bottom: 0;
}